{% extends 'master.html' %}
{% include 'header.html' %}

{% block title %}Users List{% endblock %}

{% block body %}

<div class="container">
	<div>
		<div class="col-md-12 text-center"><h1>List of users</h1></div>
	</div>

	<table class="table table-hover table-striped table-bordered" id="example">
		<!-- <caption>List of users</caption> -->
		<thead style="background-color: rgb(167, 202, 223); color: black;">
			<th>Alias</th>
		</thead>
		<tbody>
			
			<!-- <li class="list-group-item active" aria-current="true">An active item</li> -->
			{% for value in nameList.values() %}
			<tr>
				
				<td>
					<a class="list-group-item list-group-item-action" href="/users/{{value}}" >{{ value }}</a>
				</td>

				<!-- <td><a class="btn btn-primary" href="/{{ name }}" role="button">{{ name }}</a></td> -->
				<!-- <td>{{ name }}</td> -->
				
			</tr>
			{% endfor %}
		</div>
		</tbody>
	</table>
</div>

{% endblock %}