
{% extends 'master.html' %}
{% include 'header.html' %}

{% block title %} Informacion de usuario {% endblock %}

{% block body %}
<div class="container"></div>

		<div class="col-md-12 text-center"><h1>User Information</h1>

  

  <table class="table table-responsive table-hover table-striped table-bordered" id="example">
		<!-- <caption>List of users</caption> -->
		<tbody>
			<tr>
				<td><strong>User Name or Alias : </strong></td>
				<td>{{user[0]["name"]}}</td>
			</tr>
      		<tr>
				<td><strong>User ID:</strong></td>
				<td>{{user[0]["id"]}}</td>
			</tr>
     		<tr>
				<td><strong>User Password:</strong></td>
				<td>{{user[0]["password"]}}</td>
			</tr>
      		<tr>
				<td><strong>Creation Date: </strong></td>
				<td>{{user[0]["created_at"]}}</td>
			</tr>
      		<tr>
				<td><strong>User state activated </strong></td>
				<td>{{user[0]["active_state"]}}</td>
			</tr>
			<tr>
				<td><strong>Security Groups</strong></td>
				<td>
				{% for group in user[1] %}
				| {{group['name']}} |
				{% endfor %}
				</td>
			</tr>
		</div>
		</tbody>
	</table>
</div>
</div>

{% endblock %}